@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Inter", sans-serif;
	}
}

@layer components {
	.styleSosmed {
		@apply mr-3 mt-3 flex h-10 w-10 items-center justify-center rounded-full bg-gradient-to-tr from-primary to-emerald-800 text-white  transition hover:scale-110 focus:scale-110 focus:from-transparent focus:to-transparent focus:text-primary focus:outline-none;
	}

	.judul {
		@apply mx-auto mb-2 flex max-w-fit bg-gradient-to-r from-emerald-800 to-primary bg-clip-text pb-2 text-3xl font-bold text-transparent sm:text-4xl lg:text-5xl;
	}
}
.navbar-fixed {
	@apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
	@apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
	@apply scale-y-125 translate-x-2 translate-y-1 rotate-45 scale-[0.59];
}

.hamburger-active > span:nth-child(2) {
	@apply translate-x-[6px] rotate-90 scale-0;
}

.hamburger-active > span:nth-child(3) {
	@apply scale-y-125 -translate-y-1 translate-x-2 -rotate-45 scale-[0.59];
}

#dark-toggle:checked ~ label div.toggle-circle {
	@apply translate-x-3;
}

* {
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
